.container {
	  margin: auto;
	width: 800px;
	text-shadow: 1px 10px 10px #000000;
	padding-right: 50px;
	padding-left: 50px;
	font-family: 'Happy Monkey';
	box-shadow: 5px 0 5px -5px #333, -5px 0 5px -5px #333;

}

p, h1{
	color:  #707070;
	text-align: center;
}
header{
	text-align: center;
}

h1{
	color:  #DB0038;
}
h2 {
	color:  #3998A3;
}
h3{
	color: #474747
}
.hero{
	background-color: #f4f4f4;
	padding-bottom: 10px;
	text-align: center;	
}

li{
	padding-bottom: 5px;
	padding-top: 5px;
	color: #707070;
}
span{
	font-size: 25px;
	color:  #F4B400;
}
.rating{
	text-align: center;
}


footer{
	text-align: center;
}


